@{
    ViewBag.Title = "Home Page";
}

<li>@Html.ActionLink("Criar Conta", "Create", "Home")</li>
<li>@Html.ActionLink("Lista de Contas", "List", "Home")</li>



<li class="" 
    data-opcao-modal="google.com">
    <a>google</a>
    <div class="fav" title="Adicionar Favorito"></div>
</li>
